<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
<body>

<form action="/mail/send/process" method="POST">
    <h2>Email Send</h2>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" value=""><br><br>
    <input type="submit" value="Submit">
</form> 

</body>
</html>