<%- include('../includes/header')  %>
<form action="/post/login" method="POST">
   <%- include('../includes/message'),{ errorMessage: errorMessage }  %>

    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div class="container" style="width: 135% !important;">
      <h1>Sign In</h1>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
      <hr>
  
      <button type="submit" class="registerbtn">Signin</button>
    </div>
    
    <div class="container signin" style="width: 135% !important;">
      <p>New User? <a href="/signup">Sign Up</a>.</p>
    </div>
  </form>
<%- include('../includes/footer')  %>