extends ../layouts/main-layout
block cssContent
    link(rel="stylesheet", href="/css/main.css")
block content
        h1 #{docTitle}
        if prod.length > 0
        each product in prod
            .card 
                img(src="https://images.theconversation.com/files/45159/original/rptgtpxd-1396254731.jpg?ixlib=rb-4.1.0&q=45&auto=format&w=1356&h=668&fit=crop" alt="Avatar")
                .container 
                    h4 
                        b #{product.title} 
                    p Description 
                    button(type="button") Add To Cart
        else 
            h1 No Product Found