<%- include('../../includes/head.ejs') %>
</head>

<body>
    <%- include('../../includes/navigation.ejs') %>
  <section>
    <p>Forgot to add something to your cart? Shop around then come back to pay!</p>
  </section>
<%- include('../../includes/end.ejs') %>